version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: my-project-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mywebapp
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

volumes:
  db_data: